# DATA CLEANING PANDAS

## 1. Import data and libraries.

First, we need to import our data and the necessary libraries.

In [1]:
import pandas as pd
import numpy as np
from numpy import nan
import re

import src.Extraccion_de_datos as edd
#from src.Extraccion_de_datos import clean_countries, clean_activity, clean_species

In [2]:
!pwd

/Users/awalsh/IRONHACK/PROYECTOS/Data-cleaning-Pandas

In [3]:
df = pd.read_csv('data/attacks.csv', encoding = "ISO-8859-1") # we import our data.

In [4]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

We have a close look at our data using "df.shape", "df.isna" and "df.keys".

In [5]:
df.shape

(25723, 24)

In [6]:
df.keys()

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [7]:
df.isna().sum() #To search for nan values.

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [8]:
df.dropna(how="all", inplace=True)  # We delete the records were everything is nan.

In [9]:
df.dropna(how="all", axis=1, inplace=True)

In [10]:
# We eliminate all the columns that we do not need for our hypotheses.
df.drop(["href", "Unnamed: 22", "Unnamed: 23", "href formula", "pdf", "Case Number.1",
         "Case Number.2", "original order", "Investigator or Source", "Case Number",
         "Case Number.1","Date", "Area", "Location", "Name", "Investigator or Source",
         "Injury", "Type" ], axis=1, inplace=True)

In [11]:
df.head() # We are left with the columns that are useful to work on confirming our hypotheses.

,Year,Country,Activity,Sex,Age,Fatal (Y/N),Time,Species
0,2018.0,USA,Paddling,F,57,N,18h00,White shark
1,2018.0,USA,Standing,F,11,N,14h00 -15h00,NaN
2,2018.0,USA,Surfing,M,48,N,07h45,NaN
3,2018.0,AUSTRALIA,Surfing,M,NaN,N,NaN,2 m shark
4,2018.0,MEXICO,Free diving,M,NaN,N,NaN,"Tiger shark, 3m"

In [12]:
# We remove the space from the name of the columns, such as sex and species.
columns = list(df.columns)
new_columns = {column: column.replace(" ", "") for column in columns}
new_columns
df.rename(columns = new_columns, inplace=True)
#We use df2.keys() to check the changes.

In [13]:
df2 = df.drop_duplicates() #We use df.drop_duplicates() to delete duplicated rows and we save it in df2.

In [14]:
df2.shape #We use df.shape to check the new size of the DataFrame.

(6230, 8)

# 2. Cleaning variables

## 2.1 Through string and type methods

### Variable "Sex"

In [15]:
list(df2["Sex"].unique())

#We replace the nan values for "Unknown"
df2["Sex"]=df2["Sex"].fillna("Unknown")

#We replace the values from the variable "Sex" so that the unique values are: "M", "F" and "Unknown".
df2["Sex"] = df2["Sex"].str.replace("M ", "M")
df2["Sex"] = df2["Sex"].str.replace("lli", "Unknown")
df2["Sex"] = df2["Sex"].str.replace(".", "Unknown")
df2["Sex"] = df2["Sex"].str.replace("N", "Unknown")

list(df2["Sex"].unique())

<ipython-input-15-23a0c669d21b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Sex"]=df2["Sex"].fillna("Unknown")
<ipython-input-15-23a0c669d21b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Sex"] = df2["Sex"].str.replace("M ", "M")
<ipython-input-15-23a0c669d21b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Sex"] = df2["Sex"].str.replace("lli", "Unknown")
<ipython-input-15-23a0c669d21b>:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df2["Sex"] = df2["Sex"].str.replace(".", "Unknown")
<ipython-input-15-23a0c669d21b>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Sex"] = df2["Sex"].str.replace(".", "Unknown")
<ipython-input-15-23a0c669d21b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Sex"] = df2["Sex"].str.replace("N", "Unknown")

['F', 'M', 'Unknown']

## Variable "Fatal (Y/N)"

In [16]:
#We replace the nan values for "UNKNOWN"
df2["Fatal(Y/N)"]=df2["Fatal(Y/N)"].fillna('UNKNOWN')

#We replace the values from the variable "Sex" so that the unique values are: "Y", "N" and "Unknown".
df2["Sex"] = df2["Sex"].str.replace("M ", "M")
df2["Fatal(Y/N)"] = df2["Fatal(Y/N)"].str.replace(" N", "N")
df2["Fatal(Y/N)"] = df2["Fatal(Y/N)"].str.replace("N ", "N")
df2["Fatal(Y/N)"] = df2["Fatal(Y/N)"].str.replace("y", "Y")
df2["Fatal(Y/N)"] = df2["Fatal(Y/N)"].str.replace("M", "UNKNOWN")
df2["Fatal(Y/N)"] = df2["Fatal(Y/N)"].str.replace("2017", "UNKNOWN")

list(df2["Fatal(Y/N)"].unique())

<ipython-input-16-7840c85b64d1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Fatal(Y/N)"]=df2["Fatal(Y/N)"].fillna('UNKNOWN')
<ipython-input-16-7840c85b64d1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Sex"] = df2["Sex"].str.replace("M ", "M")
<ipython-input-16-7840c85b64d1>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Fatal(Y/N)"] = df2["Fatal(Y/N)"].str.replace(" N", "N")
<ipython-input-16-7840c85b64d1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Fatal(Y/N)"] = df2["Fatal(Y/N)"].str.replace("N ", "N")
<ipython-input-16-7840c85b64d1>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Fatal(Y/N)"] = df2["Fatal(Y/N)"].str.replace("y", "Y")
<ipython-input-16-7840c85b64d1>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Fatal(Y/N)"] = df2["Fatal(Y/N)"].str.replace("M", "UNKNOWN")
<ipython-input-16-7840c85b64d1>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Fatal(Y/N)"] = df2["Fatal(Y/N)"].str.replace("2017", "UNKNOWN")

['N', 'Y', 'UNKNOWN']

## 2.1 Cleaning variables using Regex &/or functions

## Variable "Country"

In [18]:

#First, we take a look at the unique values that are under this variable.
list(df2["Country"].unique())

# We replace nan values with "Not Classified", so that we can categorize them
df2["Country"] = df2["Country"].fillna("Not Classified")

# We apply the function clean_countries to Country.
#df2["Country"].fillna("Not Classified",inplace = True)
df2['Country'] = df2['Country'].apply(edd.clean_countries)

# We visualize the column. 
list(df2["Country"].unique())

<ipython-input-18-62afdb118f9b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Country"] = df2["Country"].fillna("Not Classified")
<ipython-input-18-62afdb118f9b>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Country'] = df2['Country'].apply(edd.clean_countries)

['North America',
 'Oceania',
 'South America',
 'Unknown',
 'Africa',
 'Asia',
 'Europe']

In [19]:
new_column_continent = {column: column.replace("Country","Continent") for column in columns}
df2.rename(columns = new_column_continent, inplace=True)

/opt/anaconda3/envs/ironhack/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

## Variable "Activity"

In [20]:
#First, we take a look at the unique values that are under this variable.

list(df2["Activity"].unique())

# We replace nan values with "Unknown", so that we can categorize them
df2['Activity']=df2['Activity'].fillna("Unknown")

#We apply the function clean_activity to the column Activity
df2['Activity'] = df2['Activity'].apply(edd.clean_activity)

#We visualize the final values we are left with.
print(list(df2["Activity"].unique()))

['Other', 'Surf', 'Diving', 'Bathing', 'Fishing', 'Water sports', 'Unknown', 'Sea disaster', 'Direct interaction with sharks', 'Falls into the sea', 'Sailing', 'Plane crash', 'Adrift']

<ipython-input-20-5dd85c6b3f1e>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Activity']=df2['Activity'].fillna("Unknown")
<ipython-input-20-5dd85c6b3f1e>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Activity'] = df2['Activity'].apply(edd.clean_activity)

## Variable "Species"

In [21]:

# First of all, we visualize the unique values in the column Species.
species_list = df2["Species"].fillna('Unknown').unique()

# Using the function word_list_count we can have an idea of how many times each word is repeated.
# This will help us categorize the species in the next step.
edd.word_list_count(species_list)

{'white': 313,
 'shark': 771,
 'unknown': 1,
 'tiger': 134,
 'shark,': 647,
 'lemon': 32,
 'bull': 102,
 'grey': 39,
 'reef': 53,
 'invalid': 2,
 'incident': 8,
 'tawny': 3,
 'nurse': 64,
 'involvement': 32,
 'confirmed': 21,
 'questionable': 11,
 'juvenile': 15,
 'wobbegong': 24,
 'blacktip': 62,
 'possibly': 53,
 'injury': 6,
 'believed': 6,
 'caused': 4,
 'eel,': 1,
 'galapagos': 4,
 'shark?': 17,
 'shark.': 9,
 'small': 30,
 'female': 16,
 'some': 2,
 'drowned': 1,
 'other': 3,
 'have': 5,
 'been': 4,
 'killed': 4,
 'blue': 36,
 'sharks': 51,
 'cookiecutter': 1,
 'spinner': 30,
 'feet': 5,
 'death': 10,
 'drowning': 2,
 'porbeagle,': 1,
 '3.5m': 3,
 'oceanic': 21,
 'whitetip': 25,
 'sandtiger': 14,
 'shark"': 33,
 'prior': 14,
 'invovlement': 2,
 'seven-gill': 1,
 'probably': 3,
 'smooth': 1,
 'hound': 1,
 'highly': 2,
 'doubtful': 3,
 'publicity': 1,
 'stunt': 1,
 'female,': 3,
 'caribbean': 15,
 'broadnose': 3,
 'sevengill': 11,
 'angel': 2,
 'dogfish': 2,
 "4.5'": 5,
 'said': 35,
 'involve': 62,
 'more': 3,
 'likely': 2,
 'damage': 1,
 'debris': 1,
 'mako': 40,
 'bronze': 46,
 'whaler': 50,
 "[5']": 32,
 '2.5-ft': 1,
 'silky': 4,
 "6.5'": 2,
 'hammerhead': 38,
 'thought': 29,
 '100-lb': 4,
 '1.5m': 3,
 'cofirmed': 1,
 '4-foot': 1,
 'raggedtooth': 27,
 'still': 1,
 'determined': 2,
 'unlikely': 2,
 'goblin': 2,
 'shark:': 1,
 '9"8"': 1,
 'metre': 1,
 "shark'": 2,
 'sandbar': 8,
 '1.2m': 2,
 'tawney': 1,
 '7-gill': 4,
 'reported': 11,
 '1.8m': 4,
 'salmon': 2,
 'wobbegong,': 1,
 '2.5m': 8,
 '"small': 5,
 'sharks"': 6,
 "3.5'": 5,
 'porbeagle': 8,
 'suspected,': 1,
 "18'shark": 1,
 '40cm': 1,
 '70-kg': 1,
 'allegedly': 2,
 'port': 1,
 'jackson': 1,
 'blactip': 1,
 'zambesi': 13,
 '2.8m': 1,
 '2.5m,': 1,
 '1.4m': 1,
 '30kg': 1,
 '1.6m': 1,
 'thresher': 5,
 'spurdog': 1,
 'whale': 2,
 'probable,': 1,
 'cookie': 1,
 'cutter': 1,
 '60cm': 1,
 'dusky': 15,
 'starry': 1,
 'smoothhound': 1,
 '4.5m': 1,
 'basking': 1,
 'area': 5,
 '2.3m': 1,
 'media': 1,
 'attack,': 2,
 'confirmed;': 2,
 'barracuda': 1,
 'bite': 5,
 "1.5'": 1,
 "2.5'": 2,
 'according': 12,
 'divers': 2,
 'boat': 4,
 "4.2'": 1,
 '90kg': 1,
 'attack;': 1,
 'hoax': 2,
 '2.27': 1,
 'were': 7,
 'vicinity': 8,
 'gray': 2,
 "9.5'": 1,
 'sand': 10,
 'spotted': 2,
 'catshark,': 1,
 'scyliorhinus': 2,
 'canicula': 1,
 '10-year-old': 1,
 '94-pound': 1,
 'pregnant': 3,
 'lesser': 1,
 'dogfish,': 1,
 'canicula,': 1,
 'less': 3,
 'than': 3,
 'length': 6,
 '150-kg': 2,
 'catsharks': 2,
 'lion': 1,
 'confirmed,': 2,
 'bluefish': 1,
 '"reef"': 1,
 '600-kg': 3,
 "[13']": 15,
 "[6.75']": 12,
 '200-kg': 3,
 "[6']": 41,
 "[11.5']shark": 1,
 "[4.5'": 2,
 '8/13/2005': 1,
 'anglers': 1,
 'from': 24,
 'zealand': 1,
 'caught': 15,
 '[9\'3"],': 1,
 '140-kg': 2,
 '[309-lb]': 1,
 'same': 3,
 'spot.': 1,
 'this': 3,
 'that': 8,
 'alysha': 1,
 'unknown,': 5,
 'tooth': 37,
 'recovered': 25,
 'wound': 1,
 "[10']": 26,
 'burgess': 1,
 'isaf': 1,
 'announced': 1,
 "[6'],": 4,
 '3-year': 1,
 'subsequent': 1,
 'investigation': 1,
 'revealed': 1,
 'there': 1,
 'copper': 5,
 "[20']": 8,
 "[7']": 17,
 "[14']": 11,
 "[8']": 25,
 "[6.75'": 3,
 "10']": 9,
 "[18']": 6,
 "[8.25']": 12,
 "12']": 6,
 "6.75']": 4,
 "[16'": 1,
 "18']": 4,
 "[4']": 22,
 "[10'": 20,
 "13']": 9,
 'longfin': 1,
 "[11.5'],": 4,
 '350-kg': 1,
 '[772-lb]': 1,
 'sharks,': 7,
 '"black': 2,
 'tipped"': 1,
 '9\'2"': 1,
 '(carcharhinus': 1,
 'perezi)': 1,
 "[16.5']": 7,
 '[23.6"]': 1,
 'blind': 1,
 'brown': 4,
 "[13'": 6,
 "16.5']": 8,
 'possibily': 1,
 '1.65': 1,
 '[5\'5"]': 1,
 'speared': 1,
 '132-kg': 1,
 '[291-lb]': 1,
 "[11.5']": 6,
 'shortfin': 4,
 'either': 1,
 '"grey-colored': 2,
 "[15'": 2,
 'unidentified': 4,
 'species': 18,
 'great': 1,
 "[3.5']": 2,
 '\x93small': 2,
 'shark\x94': 2,
 "[12'": 9,
 "14']": 7,
 '"sand': 1,
 'grey-colored': 2,
 '\x93small\x94': 1,
 'diameter': 1,
 'just': 1,
 'below': 1,
 'left': 1,
 'knee': 1,
 "[2']": 1,
 'captive': 3,
 'stingray': 2,
 "15']": 6,
 'colored': 1,
 "[5']k": 1,
 'bonnethed': 1,
 '400-lb': 5,
 'shark;': 2,
 'fragment': 18,
 'hand': 3,
 "8.25']": 3,
 "[3']": 6,
 'unconfired': 1,
 '"whaler': 1,
 'leucas': 2,
 'kayak': 1,
 'precipitated': 1,
 'large': 7,
 'filmed': 1,
 'local': 3,
 'wreck': 1,
 'days': 8,
 'incident.': 2,
 "[6.5']": 3,
 "[7.5']": 4,
 "[9']": 19,
 'finned': 1,
 '[14\'9"]': 5,
 "[10']rk": 2,
 "[16']": 6,
 '100-kg': 2,
 '[221-lb]': 2,
 'dead': 1,
 'male': 6,
 'seen': 12,
 'witnesses': 9,
 "[9'],": 4,
 '14\'9"]': 1,
 'all)': 1,
 "11']": 2,
 'miami,': 1,
 'bamboo': 1,
 'white,': 1,
 "[23']": 2,
 'gaffed': 3,
 "[15']": 6,
 "[16.5'": 7,
 "20']": 11,
 'though': 2,
 'named': 3,
 'kong': 1,
 "[5'],": 1,
 'identified': 35,
 'surfer': 1,
 'blackfin': 1,
 'suspected': 4,
 'soupfin': 1,
 "[17']": 2,
 '"juvenile': 1,
 '2.7m': 1,
 '(spinner': 1,
 'shark?)': 2,
 '3.7m': 1,
 "[18'": 4,
 'young': 1,
 '"reef': 2,
 '300-kg': 2,
 '[662-lb]': 2,
 '"sand"': 1,
 '(tooth': 10,
 'recovered)': 6,
 "[12']": 20,
 'leopard': 2,
 "11.5']": 1,
 '>1.8': 1,
 "[10'],": 6,
 '[441-lb]': 2,
 '[11\'9"]': 2,
 '[4\'3"]': 1,
 "23']": 4,
 '11-jan-1994,': 1,
 'remains': 11,
 'washed': 1,
 'ashore.': 1,
 'involved': 4,
 'later': 11,
 'with': 8,
 'diver\x92s': 1,
 'fragments': 12,
 'possiby': 1,
 "[12'],": 3,
 'wound)': 1,
 "16']": 4,
 '20-lb': 1,
 'identification': 4,
 'nakaya': 2,
 "[13'],": 1,
 '590-kg': 1,
 "[20'": 4,
 "[5.5']": 3,
 '270-': 1,
 '[595-lb]': 1,
 '30-lb': 1,
 "[7'],": 4,
 '140-lb': 1,
 '"notchfin"': 1,
 '170-kg,': 1,
 '"shark': 2,
 'very': 4,
 'girth"': 1,
 "[8.25'": 1,
 'could': 1,
 'marks': 3,
 'smale': 1,
 'vicinity:': 1,
 '4.25': 1,
 'pattern': 9,
 '150-lb': 1,
 '>3.4': 1,
 "[11']": 4,
 'silvertip': 2,
 '"grey-colored"': 1,
 'zambezi': 3,
 'attacked': 1,
 'survivors': 3,
 'water': 3,
 '>2.5': 1,
 'unconfirmed': 5,
 'attack': 3,
 'unable': 1,
 'verify': 1,
 'records': 1,
 '1.96': 1,
 "8'],": 1,
 'recovered.': 1,
 'authorities': 2,
 'total': 1,
 '>2.4': 2,
 'sixgill': 1,
 '11\'9"]': 1,
 '30-kg': 1,
 '[66-lb]': 1,
 'officials': 1,
 'considered': 2,
 'barracua': 1,
 'shark?+o2356': 1,
 '5.5m': 1,
 '56-kg': 1,
 '[123-lb]': 1,
 'white-tipped': 2,
 '[9\'3"]': 3,
 'incident;': 1,
 'pinniped': 1,
 'instead': 1,
 'identity': 9,
 "[14.7'": 1,
 'story': 1,
 'surfboard': 2,
 '[6\'9"]': 7,
 "[18'']": 1,
 '510-kg': 1,
 '[1125-lb]': 1,
 'hooked': 3,
 'shot': 1,
 'flat': 1,
 'head\x94': 1,
 'followed': 1,
 '"sandshark"': 1,
 '"gray': 1,
 "13',": 1,
 'bull,': 1,
 'maculpinnis': 1,
 'limbatus': 1,
 '50-kg': 2,
 '[110-lb],': 1,
 "[7.5'],": 1,
 'boat)': 2,
 '180-kg': 1,
 '[397-lb]': 1,
 '\x93spotty\x94': 1,
 "[19']": 1,
 '[1323-lb]': 1,
 'carpet': 7,
 '[110-b]': 1,
 '[16.5': 1,
 "sharks'": 1,
 'observed': 1,
 "[14.5'": 1,
 'board': 1,
 'albimarginatus': 1,
 '"dog': 2,
 "7.5'": 1,
 '[6\'9"],': 2,
 '5-year-old,': 1,
 "[14'": 2,
 '"doubtful"': 1,
 'scalloped': 1,
 '90-kg': 2,
 '"blackfin"': 1,
 "[14'],": 3,
 'authenticated': 1,
 '"blue': 4,
 'whaler"': 1,
 '(galeolamna)': 1,
 '28-lb,': 1,
 'embedded': 2,
 'speargun': 1,
 'pack': 3,
 'speculated': 1,
 'cold': 1,
 '200-lb': 5,
 'next': 3,
 'smaller': 1,
 'involved.': 1,
 'alleged': 2,
 "[25']": 2,
 "[8.25'],": 1,
 'immature': 2,
 'previously': 1,
 'injured': 1,
 "[2.5']": 3,
 '6\'9"]': 1,
 '180-lb': 1,
 '136-kg': 2,
 '[300-lb]': 2,
 '0.94': 1,
 'dorsal': 1,
 '[9\'1"],': 1,
 '750-lb': 1,
 '250-lb': 2,
 '1000-lb': 1,
 '300-': 1,
 '>1.2': 1,
 '15\'2"': 1,
 'dooley': 1,
 '(dasyatidae': 1,
 'family)': 1,
 '500-lb': 2,
 'found': 5,
 '[9\'7"': 1,
 '10\'11"]': 1,
 'galapagensis': 1,
 '\x93whaler\x94': 1,
 'recovered,': 1,
 'edwards': 1,
 '193-lb': 1,
 '<1.5': 1,
 "16',": 1,
 '2,312-lb': 1,
 'whaler)': 2,
 '87.5-kg': 1,
 '[193-lb]': 1,
 '4.9m': 1,
 'maculipinnis.': 1,
 "[6.5'": 1,
 'long': 1,
 'thin': 1,
 'brown-colored': 2,
 'horn': 1,
 'shar,k': 1,
 'heterodontus': 1,
 'francisci,': 1,
 "[16']shark": 1,
 '"red': 1,
 'morning': 2,
 "andrews'": 1,
 "shark's": 4,
 'teeth': 4,
 'canoe': 1,
 'shar,;': 1,
 'w.c.': 1,
 'schoeder': 1,
 'photograph': 5,
 'l.p.': 4,
 'schultz': 5,
 'sketch': 1,
 'observer': 1,
 "[17'],": 1,
 '2500-lb': 1,
 "[9']shark": 1,
 '500-llb': 1,
 '[4\'6"]': 2,
 '"yellow': 1,
 'belly"': 1,
 'destroyed': 1,
 'aquarium': 1,
 'staff': 1,
 'barbatus,': 1,
 'g.p.': 5,
 'whitley': 4,
 '"gummy"': 1,
 '(rhizoprionodon': 1,
 'loxodon)': 1,
 "[4.6']": 1,
 'clyde': 1,
 'buttery': 1,
 'based': 7,
 'photographs;': 1,
 'melanopterus': 1,
 'stewart': 1,
 '4\'9"': 1,
 '"banjo': 1,
 'wounds': 2,
 'hull': 4,
 "[8'],": 3,
 '600-lb': 2,
 '1164': 1,
 'male,': 2,
 'v.g.': 1,
 'springer': 3,
 '80-lb': 2,
 'hook': 1,
 'wire': 1,
 'leader': 1,
 'mouth': 2,
 'obscurus': 2,
 'breviostris,': 1,
 'w.a.': 1,
 'stark': 1,
 '6\'8"': 1,
 'description': 4,
 "[4'],": 1,
 'larger': 1,
 'shark,4': 1,
 'benjamin,': 1,
 'inflicted': 1,
 'barracuda,': 1,
 'captured': 7,
 '[9\'6"]': 1,
 'deaths': 2,
 '[11\'6"]': 1,
 'pointer': 1,
 'blacktail': 1,
 "[16.5'],": 1,
 'follett': 4,
 'then': 1,
 'identify': 1,
 'retrieved': 2,
 'rudder': 1,
 "5.5'": 2,
 'zygena': 1,
 'limbaugh': 2,
 '[24"],': 1,
 'shark,1.8': 1,
 '280-lb': 1,
 "[10'];": 1,
 'identifed': 1,
 'w.i.': 1,
 '<300-lb,': 1,
 'bitten': 1,
 'several': 2,
 'sharks:': 1,
 "[17'": 1,
 'shreuder': 1,
 'witness': 3,
 "[4.5']": 1,
 "25']": 1,
 'averaged': 1,
 'clark': 2,
 'color': 1,
 'impressions': 1,
 'carcharinid': 1,
 '(based': 1,
 'behavior)': 1,
 'd.p.': 1,
 'schultz;': 1,
 'huges': 1,
 'capt.': 2,
 'feeding': 1,
 'turtle': 1,
 'scraps': 1,
 'thrown': 1,
 'overboard': 1,
 'hours': 4,
 'shorts': 1,
 '125-lb': 1,
 '13\'10",': 1,
 '1320-lb': 1,
 '8-lb': 1,
 'another': 3,
 'nearby': 1,
 '40-lb': 1,
 'involved:': 2,
 'species,': 1,
 'following': 2,
 'triakis': 1,
 'semifasciata,': 1,
 'j.w.': 1,
 'dewitt': 1,
 '(1955)': 1,
 'shark,3.7': 1,
 'little': 2,
 '58",': 1,
 '34-lb': 1,
 'ankle': 1,
 'freshwater': 1,
 'habitat': 1,
 '500-kg': 1,
 '[1,200': 1,
 'lb],': 1,
 'shroeder': 1,
 'ebedded': 1,
 'gunwale': 1,
 'probable': 2,
 'shark,4.6': 1,
 '>6.7': 1,
 "[22']": 1,
 '[6\'9"': 1,
 '(0.6': 1,
 '15\'3",': 1,
 '2,333-lb': 1,
 'slim': 1,
 'dragged': 1,
 'where': 1,
 'tissue': 2,
 'taken': 1,
 'eggink': 1,
 'gut.': 1,
 'made': 1,
 'photographs': 1,
 '"attacked': 1,
 'number': 1,
 '1,100-lb': 1,
 '2.13': 1,
 '\x93spear-eye\x94': 1,
 'whtietip': 1,
 '"with': 1,
 'yellow': 1,
 'eyes"': 1,
 'black-tipped': 2,
 'pectoral': 1,
 'fins': 1,
 "[8.5']": 4,
 'bonita': 1,
 'sharkk,': 1,
 '350-': 1,
 '450-lb': 1,
 '[10\'9"]': 1,
 '1/5/1949': 1,
 "[21']": 1,
 '"grey': 1,
 'most': 2,
 'likely,': 1,
 '45-kg': 1,
 '>1.6': 1,
 '[13\'9"]': 1,
 '[14\'9"': 2,
 "18'],": 1,
 '2000-lb': 1,
 "victim's": 1,
 'shoulder': 1,
 'j.t.': 2,
 'nicholls)': 1,
 'others': 1,
 "[21.5']": 1,
 '\x93leopard': 1,
 'sharks\x94,': 1,
 'reportedly:': 1,
 '(aka': 1,
 'bonito': 1,
 'shark)': 1,
 '160-kg': 1,
 '[353-lb],': 1,
 'incident,': 1,
 'landed': 1,
 'pointer,': 3,
 '[11\'9"],': 1,
 '850-kg': 1,
 '[1874-lb]': 1,
 'contained': 1,
 "girvan's": 1,
 'yards': 1,
 'site': 2,
 'nosed"': 1,
 'shovelnose': 3,
 '(identified': 1,
 'hugh': 1,
 'smith)': 1,
 '[2.4': 1,
 '650-lb': 1,
 '246-kg': 1,
 'nose': 2,
 "[11.5'": 1,
 '"blue-nosed': 1,
 'previous': 1,
 'week': 4,
 'within': 1,
 'after': 3,
 '800-lb': 1,
 'those': 1,
 'lifeguard': 1,
 'barrows': 1,
 'school': 2,
 '"cocktail': 1,
 'woodwork': 1,
 '[14\'9"],': 1,
 '9-foot': 1,
 'moreno\x92s': 1,
 'part': 1,
 'swim': 1,
 'suit': 1,
 'attack.': 1,
 'carcharhinid': 1,
 "[14.5']": 1,
 '"whiptail': 1,
 '(thresher': 1,
 'questionable,': 1,
 "[12.5']": 1,
 'carlsmith,': 1,
 'wide': 1,
 "[6.5'].": 1,
 'nichols.': 1,
 "atkins'": 1,
 'obscurus,': 1,
 'young,': 1,
 'fisherman': 1,
 '"blue"': 1,
 "12',": 1,
 'fragment,': 1,
 'mitchell-hedges': 1,
 'comrades': 1,
 'tail': 1,
 'appear': 1,
 'about': 1,
 'away': 1,
 '1200-lb': 1,
 'exhibited': 1,
 'carnegie': 1,
 'museum': 1,
 'known': 1,
 '"old': 1,
 'tom"': 1,
 'macrurus': 1,
 'removed': 1,
 'gut;': 1,
 'whitley,': 1,
 'steel': 1,
 '18-foot': 1,
 'possible': 1,
 '33-foot': 1,
 '175-lb': 1,
 'fishermen': 1,
 'partial': 1,
 '13\'10"': 1,
 '5\'7"': 1,
 "14',": 1,
 '3500': 1,
 'exhibition': 1,
 "[15.5']": 1,
 '\x93have': 1,
 'rough': 1,
 '½\x94-thick': 1,
 'skin\x94': 1,
 'wobbegongs': 1,
 'gangeticus': 1,
 'fayrer': 1,
 'later"': 1,
 '"ground': 1,
 '(pregnant)': 1,
 '234-lb': 1,
 "24']": 1,
 'does': 1,
 'ring': 1,
 'true': 1,
 '"the': 1,
 'fish': 1,
 'harpooned,': 1,
 'dried,': 1,
 'presented': 1,
 'sailor,': 1,
 'went': 1,
 'round': 1,
 'europe': 1,
 'exhibiting': 1,
 'long.': 1,
 '1600-lb': 1,
 'guitarfish,': 1,
 'adult': 1,
 '1,900-lb': 1,
 'caught,': 1,
 'buried': 1,
 'beside': 1,
 "man's": 1,
 'body': 1,
 'pointers': 1,
 'leapt': 1,
 'seized': 1}

In [22]:
# We get rid off the nan values 
df2['Species'] = df2['Species'].fillna("Unknown")


# We apply the function clean_species to species.
df2['Species'] = df2['Species'].apply(edd.clean_species)

# We visualize the final values in our list.
list(df2["Species"].unique())

<ipython-input-22-f8229da283b2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Species'] = df2['Species'].fillna("Unknown")
<ipython-input-22-f8229da283b2>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Species'] = df2['Species'].apply(edd.clean_species)

['White',
 'Unknown',
 'Tiger',
 'Lemon',
 'Bull',
 'Grey',
 'Tawny',
 'Wobbegong',
 'Blacktip',
 'Nurse',
 'Blue',
 'Cookiecutter',
 'Spinner',
 'Porbeagle',
 'Sandtiger',
 'Seven',
 'Caribbean',
 'Angel',
 'Dogfish',
 'Debris',
 'Mako',
 'Bronze',
 'Silky',
 'Hammerhead',
 'Raggedtooth',
 'Goblin',
 'Sand',
 'zambesi',
 'Thresher',
 'Spurdog',
 'Dusky',
 'Smoothhound',
 'Basking',
 'Catshark',
 'Anglers',
 'Copper',
 'Blackfin',
 'Brown',
 'Stingray',
 'Whaler',
 'Leucas',
 'Vicinity',
 'Soupfin',
 'Leopard',
 'Girth',
 'Silvertip',
 'Zambezi',
 'Carpet',
 'Broadnose',
 'Shovelnose',
 'Allegedly']

In [23]:
df2.isna().sum()

Year             3
Continent        0
Activity         0
Sex              0
Age              0
Fatal(Y/N)       0
Time          3287
Species          0
dtype: int64

In [24]:
df2.to_csv(r'data/clean_df2.csv')