# DATA CLEANING PANDAS

In [1]:
#We import the neccesary libraries.
import pandas as pd
import numpy as np
from numpy import nan
import re

import src.Extraccion_de_datos as edd
#from src.Extraccion_de_datos import clean_countries, clean_activity, clean_species

In [2]:
!pwd

/Users/awalsh/IRONHACK/PROYECTOS/Data-cleaning-Pandas

In [3]:
df = pd.read_csv('data/attacks.csv', encoding = "ISO-8859-1") # we import our data.

In [4]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(25723, 24)

In [6]:
df.isna().sum() #To search for nan values.

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [7]:
df.dropna(how="all", inplace=True)  # We delete the records were everything is nan.

In [8]:
df.dropna(how="all", axis=1, inplace=True)

In [9]:
df.shape # We use df.shape, df.keys(), df.[].unique() to explore our data and check what columns are relevant.

(8703, 24)

In [10]:
#df.keys()

In [11]:
# We eliminate all the columns that we do not need for our hypotheses.
df.drop(["href", "Unnamed: 22", "Unnamed: 23", "href formula", "pdf", "Case Number.1", "Case Number.2", "original order", "Investigator or Source" ], axis=1, inplace=True)

In [12]:
df2 = df.drop_duplicates() #We use df.drop_duplicates() to delete duplicated rows and we save it in df2.

In [13]:
df2.shape #We use df.shape to check the new size of the DataFrame.

(6304, 15)

## Column "Year"

In [14]:
#df2["Year"].unique()

In [15]:
df2['Year']=df2['Year'].fillna(0).astype(dtype="int64")

#DUDA

#TODO:sustituir los nan por la media en lugar de 0.

<ipython-input-15-89eb938fc7f6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Year']=df2['Year'].fillna(0).astype(dtype="int64")

## Column "Type"

In [16]:
list(df2["Type"].unique())

['Boating',
 'Unprovoked',
 'Invalid',
 'Provoked',
 'Questionable',
 'Sea Disaster',
 nan,
 'Boat',
 'Boatomg']

In [17]:
df2["Type"] = df2["Type"].str.replace("Boating", "Boat")
df2["Type"] = df2["Type"].str.replace("Boatomg", "Boat")

<ipython-input-17-dae8508e8101>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Type"] = df2["Type"].str.replace("Boating", "Boat")
<ipython-input-17-dae8508e8101>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Type"] = df2["Type"].str.replace("Boatomg", "Boat")

## Column "Country"

In [18]:
#list(df2["Country"].unique())

In [19]:
df2["Country"] = df2["Country"].fillna("Not Classified")

#df2["Country"].fillna("Not Classified",inplace = True)

<ipython-input-19-7d2160245bb8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Country"] = df2["Country"].fillna("Not Classified")

In [20]:
df2['Country'] = df2['Country'].apply(edd.clean_countries)

<ipython-input-20-427f406b60dd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Country'] = df2['Country'].apply(edd.clean_countries)

In [21]:
list(df2["Country"].unique())

['North America',
 'Oceania',
 'South America',
 'Not Classified',
 'Africa',
 'Europe',
 'In some lost island',
 'Somewere in the ocean']

## Column "Activity"

In [22]:
#list(df2["Activity"].unique())

In [23]:
df2['Activity']=df2['Activity'].fillna("Unknown")

<ipython-input-23-d8e30b06b5f1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Activity']=df2['Activity'].fillna("Unknown")

In [24]:
df2['Activity'] = df2['Activity'].apply(edd.clean_activity)

<ipython-input-24-07ae237d215a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Activity'] = df2['Activity'].apply(edd.clean_activity)

In [25]:
#list(df2["Activity"].unique())

## Column "Sex"

In [26]:
#list(df2["Sex "].unique())

In [27]:
df2["Sex "]=df2["Sex "].fillna("Unknown")

<ipython-input-27-b030af7172d7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Sex "]=df2["Sex "].fillna("Unknown")

In [28]:
df2["Sex "] = df2["Sex "].str.replace("M ", "M")
df2["Sex "] = df2["Sex "].str.replace("lli", "Unknown")
df2["Sex "] = df2["Sex "].str.replace(".", "Unknown")
df2["Sex "] = df2["Sex "].str.replace("N", "Unknown")

<ipython-input-28-e0bfa8dc6ba1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Sex "] = df2["Sex "].str.replace("M ", "M")
<ipython-input-28-e0bfa8dc6ba1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Sex "] = df2["Sex "].str.replace("lli", "Unknown")
<ipython-input-28-e0bfa8dc6ba1>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df2["Sex "] = df2["Sex "].str.replace(".", "Unknown")
<ipython-input-28-e0bfa8dc6ba1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Sex "] = df2["Sex "].str.replace(".", "Unknown")
<ipython-input-28-e0bfa8dc6ba1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Sex "] = df2["Sex "].str.replace("N", "Unknown")

In [29]:
list(df2["Sex "].unique())

['F', 'M', 'Unknown']

## Column "Fatal (Y/N)"

In [30]:
#list(df2["Fatal (Y/N)"].unique())

In [31]:
df2['Fatal (Y/N)']=df2['Fatal (Y/N)'].fillna('UNKNOWN')

<ipython-input-31-feb8cdf33621>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Fatal (Y/N)']=df2['Fatal (Y/N)'].fillna('UNKNOWN')

In [32]:
df2["Fatal (Y/N)"] = df2["Fatal (Y/N)"].str.replace(" N", "N")
df2["Fatal (Y/N)"] = df2["Fatal (Y/N)"].str.replace("N ", "N")
df2["Fatal (Y/N)"] = df2["Fatal (Y/N)"].str.replace("2017", "UNKNOWN")
df2["Fatal (Y/N)"] = df2["Fatal (Y/N)"].str.replace("M", "N")
df2["Fatal (Y/N)"] = df2["Fatal (Y/N)"].str.replace("y", "Y")

<ipython-input-32-c69baf93422d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Fatal (Y/N)"] = df2["Fatal (Y/N)"].str.replace(" N", "N")
<ipython-input-32-c69baf93422d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Fatal (Y/N)"] = df2["Fatal (Y/N)"].str.replace("N ", "N")
<ipython-input-32-c69baf93422d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Fatal (Y/N)"] = df2["Fatal (Y/N)"].str.replace("2017", "UNKNOWN")
<ipython-input-32-c69baf93422d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Fatal (Y/N)"] = df2["Fatal (Y/N)"].str.replace("M", "N")
<ipython-input-32-c69baf93422d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Fatal (Y/N)"] = df2["Fatal (Y/N)"].str.replace("y", "Y")

In [33]:
list(df2["Fatal (Y/N)"].unique())

['N', 'Y', 'UNKNOWN']

## Column "Species"

In [34]:
species_list = df2["Species "].fillna('Unknown').unique()
print(species_list)

['White shark' 'Unknown' '2 m shark' ... "12' tiger shark" 'Blue pointers'
 'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable']

In [35]:
#word_list_count(species_list)

In [36]:
df2['Species '] = df2['Species '].fillna("Unknown")

<ipython-input-36-02a77ecb644b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Species '] = df2['Species '].fillna("Unknown")

In [37]:
df2['Species '] = df2['Species '].apply(edd.clean_species)

<ipython-input-37-58834ab3f48a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Species '] = df2['Species '].apply(edd.clean_species)

In [38]:
list(df2["Species "].unique())

['White',
 'Unknown',
 'Tiger',
 'Lemon',
 'Bull',
 'Grey',
 'Tawny',
 'Wobbegong',
 'Blacktip',
 'Nurse',
 'Blue',
 'Cookiecutter',
 'Spinner',
 'Porbeagle',
 'Sandtiger',
 'Seven',
 'Caribbean',
 'Angel',
 'Dogfish',
 'Debris',
 'Mako',
 'Bronze',
 'Silky',
 'Hammerhead',
 'Raggedtooth',
 'Goblin',
 'Sand',
 'zambesi',
 'Thresher',
 'Spurdog',
 'Dusky',
 'Smoothhound',
 'Basking',
 'Catshark',
 'Anglers',
 'Copper',
 'Blackfin',
 'Brown',
 'Stingray',
 'Whaler',
 'Leucas',
 'Vicinity',
 'Soupfin',
 'Leopard',
 'Girth',
 'Silvertip',
 'Zambezi',
 'Carpet',
 'Broadnose',
 'Shovelnose',
 'Allegedly']

In [39]:
df2.isna().sum()

Case Number       1
Date              2
Year              0
Type              6
Country           0
Area            457
Location        542
Activity          0
Name            212
Sex               0
Age            2833
Injury           30
Fatal (Y/N)       0
Time           3356
Species           0
dtype: int64

In [41]:
df2.to_csv(r'data/clean_df2.csv')